body {
  margin: 2% 2% 2% 2%;
}

#inputField, #outputField {
  background: #5AA3E3;
  background: #000000;
  color: #E6E6E6;
  border-style: groove;
  font-size: 30px;
  padding: 2% 6% 2% 6%;
}

#inputField {
  margin-right: 30px;
}

.button {
  font-size: 60px;
  background: #5AA3E3;
  color: #E6E6E6;
  border: none;
  padding: 4% 4% 4% 4%;
  margin-left: 1%;
  margin-top: 1%;
}
